h1{
    color: blue;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
  }
  
button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    background-color: lightskyblue;
    color: blue;
    margin: 5px;
    box-shadow: 1px 0.5px black;
}
.results2, .results1{
    text-align: center;
    margin-top: 50px;
}
.results1{
    text-align: center;
    margin-top: 5px;
}
